<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Entrar no sistema</h1>

    <form action="/auth/login" method="post">

        <!-- exibe confirmação apos o cadasyro feito-->
         {% if request.query_params.get("cadastro") == "ok" %}
            <p style="color: green;">Cadastro realizado com sucesso! Faça login.</p>
        {% endif %}

        Email: <input type="email" name="email">
        <br><br>
        Senha: <input type="password" name="senha"
        <br><br>
        {% if erro %}
            <p style="color: red;">{{erro}}</p>
        {% endif %}
 <button type="submit">Entrar</button>
</form>

<p>Ja tem conta ? <a href="/auth/login">Cadastre-se</a></p>


</body>
</html>